body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: black;
    color: blanchedalmond;
}

/* styles.css (or within a <style> tag in your HTML) */
.custom-scrollview {
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none; /* Internet Explorer/Edge */
}

.custom-scrollview::-webkit-scrollbar {
    width: 0; /* Safari and Chrome */
}

@keyframes heartbeat {
    0% { transform: scale(1); }
    14% { transform: scale(1.02); }
    28% { transform: scale(1); }
    42% { transform: scale(1.1); }
    70% { transform: scale(1); }
}


/* Animation d'apparition */
@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}

/* Animation de disparition */
@keyframes fadeOut {
    from { opacity: 1; }
    to { opacity: 0; }
}

/* Classe pour l'animation d'apparition */
.fade-in {
    animation: fadeIn 5s forwards;
}

/* Classe pour l'animation de disparition */
.fade-out {
    animation: fadeOut 5s forwards;
}
